#app {
  display: flex;
  height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
}

#input {
  background: #333;
  color: white;
}

textarea {
  font-family: monospace, serif;
  font-size: 1rem;
  flex: 1;
  padding: 1rem;
}