#app {
  display: flex;
  height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
}

#input {
  background: #333;
  color: white;
}

textarea {
  font-family: Osaka-mono, "Osaka-等幅", "ＭＳ ゴシック", monospace;
  font-size: 14px;
  flex: 1;
  padding: 1rem;
}